/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --bg-carolina-blue: hsla(199, 89%, 49%, 1);
  --bg-prussian-blue: hsla(216, 33%, 20%, 1);
  --bg-oxford-blue: hsla(222, 44%, 13%, 1);
  --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);

  /** Text colors */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-alice-blue: hsla(216, 100%, 95%, 1);
  --text-columbia-blue: hsla(199, 69%, 84%, 1);
  --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --text-carolina-blue: hsla(199, 89%, 49%, 1);
  --text-shadow-blue: hsla(217, 24%, 59%, 1);
  --text-slate-gray: hsla(217, 17%, 48%, 1);

  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);

  /** Border colors */
  --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
  --border-prussian-blue: hsla(216, 33%, 20%, 1);
  --border-white: hsl(0, 0%, 100%);
  --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);

  /** Default colors */
  --white: hsl(0, 0%, 100%, 1);
  --black: hsl(0, 0%, 0%, 1);

  /*Box shadow  */
  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
}


body{
    min-height: 100vh;
    background-color: var(--bg-oxford-blue-2);
    color: var(--text-shadow-blue);
    overflow-y: overlay;
    line-height: 1.5;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}


/* TOGGLE */

.light-dark-mode{
    display: flex;
    transition: 0.5s;
}

input{
    display: none;
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
}


label{
    border: 0.5px solid #fff;
    width: 70px;
    height: 35px;
    /* background: #F3F3F; */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
    border-radius: 999px;
}

.circle{
    width: 35px;
    height: 30px;
    border-radius: 99px;
    background: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
    -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

svg{
    width: 25px;
    position: absolute;
}

.sun{
    color: #FFD600;
    margin-top: 0%;
    opacity: 1;
}

.moon {
    margin-top: -10%;
    color: white;
    opacity: 0;
}

input[type=checkbox]:checked + .display {
    background: #2C2C2F;
}
input[type=checkbox]:checked + .display label {
    background: #1F1F21;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
}
input[type=checkbox]:checked + .display label .circle {
    left: 100%;
    transform: translate(-110%, -50%);
    background: #2C2C2F;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
    -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
}
input[type=checkbox]:checked + .display label .circle .sun {
    margin-top: 150%;
    opacity: 0;
}
input[type=checkbox]:checked + .display label .circle .moon {
    margin-top: 0%;
    opacity: 1;
}
label:active .circle {
    width: 200px;
}


/* NAVBAR */
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    position: relative;
}

a:hover{
    color: var(--text-carolina-blue);
}

/* HEADER - NAVBAR*/
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 0.2rem;
    background-color: var(--bg-oxford-blue-2);
}

header.active {
    box-shadow: var(--shadow-1);
    border-block-end: 1px solid var(--bg-prussian-blue);
    animation: slideIn 0.5s ease forwards;
  }

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-family: "Playball", cursive;
    font-weight: 400; 
}

.links a::after{
    position: absolute;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.links a:hover:after{
    width: 100%;
}

.navbar .links{
    display: flex;
    gap: 3.5rem;
    color: var(--text-alice-blue);
    font-size: 12px;
    font-weight: 400;
}

.links a{
    font-weight: 400;
    font-size: 1rem;
}

.links .submenu li{
    height: 100%;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.links .submenu{
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    display: none;
}

.products:hover .submenu{
    display: block;
}

.products a{
    display: flex;
}

.drop-icon{
    font-size: 20px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.products:hover .drop-icon{
    transform: rotate(180deg);
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

.action_btn{
    background-image: var(--gradient-2);
    color: var(--text-alice-blue); 
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

/* Drop down menu */
.dropdown-menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 310px;
}

.dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

}

/* RESPONSIVENESS */
@media (max-width: 992px){
    .navbar .links, .navbar .action_btn{
        display: none;
    }

    .logo{
        margin-left: 1.5rem;
    }

    .navbar .toggle_btn{
        display: block;
        margin-right: 1.5rem;
    }

    .dropdown-menu{
        display: block;
    }
}

@media (max-width: 576px){
    .dropdown-menu{
        left: 2rem;
        width: unset;
    }
}


/*************** HOME PAGE ***************/
.home{
    display: flex;
    margin: 6rem 5rem 2rem 5rem ;
    height: 100%;
    min-height: 100vh;
    position: relative;
    align-items: center;
    margin-right: 0rem;
    overflow: hidden;
}


.home h1{
    color:#fff;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 44px;
    margin: 1rem 0;
}

h1 .span{
    background-image: var(--gradient-1);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Noto Sans", sans-serif;
    font-size: 42px;
}

.home .intro{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-size: 14px;
    opacity: 0.6;
}

.home p{
    opacity: 0.5;
}

.home img{
    width: 645px;
    animation: beat 15s infinite;
}

@keyframes beat{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.15);
    }
    40%{
        transform: scale(1.4);
    }
}

.text{
    margin-bottom: 2rem;
}

#learn-more{
    width: 130px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-image: var(--gradient-2);
    color: white;
    padding: 13px 15px;
    margin:2rem 0 10px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s ease;
    overflow: hidden;
}

.home button i{
    padding-left: 4px ;
}

.home button:hover {
    transform: translateX(5px);
    border: 1px solid teal;
}

/******************** SOCIAL ICONS *******************/
.social-icons{
    position: absolute;
    top: 35%;
    padding: 0 2%;
    right: 5%;
}

.social-icons i{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    transition: all 0.5s ease;
}

.social-icons i:hover{
    color: #0bd1d1;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 5%;
    padding: 0 2%;
}

.scroll-down i{
    display: block;
    padding: 9px;
    font-size: 25px;
    color: #fff;
    background: teal;
    border-radius: 30px;
    transition: all 0.5 ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}

/************** RESPONSIVENESS *****************/



@media (max-width: 900px){
    .home{
        /* flex-direction: column; */
        margin-left: 2rem;
        /* margin-top: 10rem; */
    }

    .home h1{
        font-size: 30px;
    }

    .home img{
        width: 505px;
    }
}

@media (max-width: 787px) {
    .home h1{
        font-size: 25px;
    }

    .home img{
        width: 400px;
    }

    .social-icons{
        top: 43%;
    }
}

@media (max-width: 715px){
    .social-icons{
        display: none;
    }

    .scroll-down{
        display: none;
    }
}

@media (max-width: 700px){
    .home img{
        width: 395px;
    }

}


@media (max-width: 660px){
  

    .home{
        flex-direction: column;
        margin-top: 10rem;
    }

    .homme h1{
        font-size: 30px;
    }

    .home img{
        width: 500px;
    }

    .text{
        margin-bottom: 2.5rem;
    }
}


/**********************ABOUT US  ******************************/
.about{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 1rem 1.5rem;
}
 
.about h2{
    margin: 0.8rem;
    background-image: var(--gradient-1);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Noto Sans", sans-serif;
    font-size: 3.3rem;
}
 
 .about .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
 }
 
.about .content p{
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.8rem;
}
 
.about .content p span{
    font-weight: 600;
    color: white;
    font-size: 22px;
 
}
 
.about img{
    width: 20rem;
    margin: 1.3rem 4.5rem;
 
}

/****************** SlideTop *******************/
[data-viewPort = "slideTop"]{
    transition:  1.5s cubic-bezier(0.4, 1, 0.22, 1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
    transition-delay: 0.2s;
}
[data-viewPort = "slideTop"].is-viewPort{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


@media (max-width: 700px){
    .about .content{
        display: flex;
        flex-direction: column !important;
    }

    .about .first{
        display: flex;
        flex-direction: column-reverse !important;
    }
}
/********************** For slideLeft*********************/
[data-viewPort = "slideLeft"]{
    transition:  1.5s cubic-bezier(0.4, 1, 0.22, 1);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-4rem);
    transition-delay: 0.2s;
}
[data-viewPort = "slideLeft"].is-viewPort{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
 




/***************** SERVICES *********************/
.services{
   margin: 0 2rem 1.5rem ;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}


.services h2{
    margin: 0.8rem;
    background-image: var(--gradient-1);
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Noto Sans", sans-serif;
    font-size: 3.3rem;
}

.services h3{
    color: var(--text-carolina-blue);
    font-size: 1rem;
}

.services-box i{
   font-size: 3rem;
   color: var(--white);
   margin-bottom: 1rem;
}

.services-box p{
    font-size: 1rem;
    margin: 1rem 0;
}


.slider{
    height: 30rem;
    margin: auto;
    position: relative;
    width: 95%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.services-container{
    display: flex;
    width: calc(30rem * 6);
    animation: scroll 40s linear infinite;
    gap: 2rem;
}

.services-box{
    height: 27rem;
    width: 22rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    perspective: 100px;
    background-color: var(--bg-oxford-blue);
    border: 1.5px solid var(--border-prussian-blue);
    padding: 3rem 1.5rem 2rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    transition: transform 1s;
}

.services-container .services-box:hover{
    border-color: var(--bg-carolina-blue);
    transform: scale(1.02);
    transform: translateY(-0.7rem);
}


.services-container:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-30rem * 4));
    }
}

.services-box:hover{
    /* width: 100%; */
    transform: translateZ(20px);
}

.slider::before, .slider::after{
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}


